.reddit-list--container {
  width: 65rem;
  height: 65rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* overflow-y: auto;*/

  /*border: 1px solid blue;*/
}
